/* Style the search field */


.search-button{
  display: flex;
  width: 380px;
  border-radius: 25px;

}

@media only screen and (max-width: 680px){
  .search-button{
    width: 90%;
    padding-left: 20px;
    padding-left: 20px;
    border: 10px;
    border-radius: 10px;
  }
}

.marker-point{
  font-size: 20px;
  box-sizing: border-box;
  justify-self: right;
  padding-top: 16px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f2f2f2;
  height: 55px;
  width: 55px;
}

@media only screen and (max-width: 680px){
  .marker-point{
    height: 50px;
    min-width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 16px;
    }
}



.button{
  display: flex;
  justify-self: left;
  width: 100%;
}

@media only screen and (max-width: 680px){
  .button{
    width: 90%;
  }
}

form.button input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 200px;
    background: white;
  }
  
@media only screen and (max-width: 680px){
  form.button input[type=text] {
    width: 90%;
  }
}

  form.button button {
    float: left;
    width: 25%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid #F2F2F2;
    border-left: none; 
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
  }

  @media only screen and (max-width:680px){
    form.button button{
      border-radius: 10px;
    }
  }
  
  form.button button:hover {
    background: #0b7dda;
  }
  form.button::after {
    content: "";
    clear: both;
    display: table;
  }

  @media only screen and (max-width: 680px){
    .button-desktop {
    display: none;
  }
}

  .button-mobile{
    display: none;
  }
  @media only screen and (max-width: 680px){
    .button-mobile {
      display: inline;
      width: 50px;
      max-width: 50px;
      height: 50px;
      border-radius: 10px;
    }
  }
  
  /* Style the filter section */
  .myBtnContainer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-bottom: 20px;
    margin-top: 30px;
    padding-left: 15px;
    width: 68%;
    min-width: 330px;
  }

  @media only screen and (max-width: 680px){
    .myBtnContainer{
      padding-left: 5px;
      padding-right: 5px;
    
    }
  }

  #filter-name{
    font-weight: bold;
  }

  @media only screen and (max-width: 680px){
    #filter-name {
      width: 80%;
    }
  }

  @media only screen and (max-width: 680px){
    #low-cost{
      order: 1;
    }
    #family-friendly{
      order: 3;
    }
    #romantic{
      order: 1;
    }
    #pets-allowed{
      order: 4;
    }

  }
  
  
  .btn {
    border-color: #f2f2f2;
    border-style: solid;
    background-color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 50px;
    height: 50px;
  }

  @media only screen and (max-width: 680px){
    .btn{
      margin-bottom: 10px;
    }
  }
  
  .btn:hover {
    background-color:cornflowerblue;
  }
  
  .btn-icon{
    border-radius: inherit;
    background-color:#DEEBFF;
    padding: 15px;
    align-items: left;
    color: #0065FC;
    float: left;
    margin: 0 10px 0 -29px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
 
  