
body{
  margin-top: 2vh;
  padding-right: 3vw;
  margin-bottom: auto;
  padding-left: 3vw;
  font-family: Raleway;
}
@media only screen and (max-width: 680px) {
  body{
    width: auto;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
   
  }
}



.nav {
  margin-bottom: 40px;
  padding-right: 4vw;
}

.nav > div {
  display: inline-block;
}
.navbar .sign-up { display: none; }

@media only screen and (max-width: 680px) {    
  .nav{
    display: grid;
    grid-template-rows: 2em 2em;
    grid-template-columns: 1fr;
    width: 90vw;    
  }
  .navmenu .sign-up { display: none; }
  .navbar .sign-up { display: block; }
}

.sign-up{
  color:  #0065FC;
  font-weight: bold;
}

@media only screen and (max-width: 680px){
  .sign-up{
    grid-column: 2;
    grid-row: 1;
    float: right;
    align-self: right;
    color:  #0065FC;

  }
}

.logo{
  display: inline-block;
}

.logo{
  
  grid-column: 1;
  grid-row: 1;
  height: 2vh;
  width: 5vw;
  object-fit: cover;
}

.navmenu {
  display:grid;
  grid-template-columns: repeat(3 / 1fr);
  grid-column-gap: 60px;
  width: auto;
  float: right;
  margin-right: -40px;
}

@media only screen and (max-width: 680px) {  
  .navmenu {
    grid-column-gap: auto;
    width: auto;
    width: 90vw;
  }
}

.navmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
@media only screen and (max-width: 680px) {  
  .navmenu ul{
    padding-top: 30px;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    margin-right: auto;
    
   
  }
}


li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding-left: 5vw;
  text-decoration: none;
}

@media only screen and (max-width: 680px){
li a{
  text-align: center;
  font-size: 20px;
}
}

@media only screen and (max-width: 680px){
  .accommodation-header{
    border-bottom: solid #0065FC;
  }

  .activities-header{
    border-bottom: solid #F2F2F2 ;
  }
}

.sign-up a:visited {
  color: #0065FC;
}

.accommodation-header a:visited{
  color: #0065FC;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}



.first-line{
  font-weight: bold;
  font-size: 120%;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 680px){
.first-line{
  width: auto;
  padding-top: 2vh;
}
}

.second-line{
  margin-bottom: 2vh;
}

.info-icon {
  border-radius: 50%;
   border-width: thin;  
   border: solid  #f2f2f2;
  align-self: center;
  padding-top: 5px;
  color: #0065FC;
  width: 16px;
  height: 16px;
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}

.main-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1vh;
  column-gap: 5vw;
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
  object-fit: cover;
  margin-bottom: 6vh;
  margin-top: 1vh;
}

@media only screen and (max-width: 680px){
  .main-section{
    display: grid;
   grid-template-rows: 2;
  
  }
  
}

@media only screen and (max-width: 1024px){
  .main-section{
    display: grid;
    grid-template-rows: 2;

  }
}

.accommodations {
  display: grid;
  grid-template: repeat(50% 200% 200% 50%) / repeat(3, 1fr);
  background-color:#f2f2f2;
  border-radius: 25px;
  padding: 10px;
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
  object-fit: cover;
  row-gap: 3vh;
  column-gap: 1vw;
  padding-left: 2.5vw;
}


@media only screen and (max-width: 680px) {
  
  .accommodations{
    width: auto;
    grid-row: 2;
    display: grid;
    grid-template-rows: 8;
    grid-template-columns: 1;
    background-color: white;
    padding-left: 0px;

  }
}

@media only screen and (max-width: 1024px) {
  
  .accommodations{
    width: auto;
    grid-row: 2;
    display: grid;
    grid-template-rows: 8;
    grid-template-columns: 1;
    background-color: white;
    padding-left: 0px;

  }
}



.accommodations-section{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  background-color: white;
  border-radius: 25px;
  padding: 4px;
  height: 10 vh;
  width: 15vw;
  object-fit: cover;
  row-gap: 1vh;
  padding-left: 5px;
  padding-bottom: 2vh;
}

@media only screen and (max-width: 1024px) {

  .accommodations-section{
    width: 25vw;
    box-shadow: 5px 10px #f2f2f2;
    
  }
}

@media only screen and (max-width: 680px) {

  .accommodations-section{
    width: 90vw;
    box-shadow: 5px 10px #f2f2f2;
  }
}


.accommodations-title{
  grid-column-start: 1;
    grid-column-end: 4;
    font-weight: bold;
    font-size: 22px;
    padding-top: 1vh;
}

@media only screen and (max-width: 680px) {

  .accommodations-title{
    grid-row: 1;
    grid-column: 1;
  }
} 


.accommodations-image{
  grid-row: 1;
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: 10vh;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


.accommodations-name{
  font-weight: bold;
}

.price-info{
  padding-top: 2px;
  padding-bottom: 2px;
}


.most-popular{
  display: grid;
  grid-template: 10% 30% 30% 30%  / 1fr;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 10px;
  object-fit: cover;
  column-gap: 10px; 
}

@media only screen and (max-width: 680px) {

  .most-popular{
    
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
    

  }
}

.most-popular-title {
  display: grid;
  grid-template-columns: 2;
  font-weight: bold;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.most-popular-text{
  grid-column: 1;

}

.popular-symbol{
  grid-column: 2;
  float: right;
  box-sizing: border-box;
  justify-self: right;
}

.popular-section{
   grid-row: 2;
   display: grid;
   grid-template-columns: 1fr 2fr;
  background-color: white;
  column-gap: 30px;
  object-fit: contain;
  border-radius: 25px;
  padding: 4px;
  height: 80%;
  width: inherit;
 
}

@media only screen and (max-width: 680px) {
  
  .popular-section{
  max-width: 90vw;
  padding-bottom: 10px;
  column-gap: 20px;
  
  }
}

.popular-image{
  grid-column: 1;
  width:100%;
  height: 100%;
  max-height: 100%;
  padding-right: 10px;  
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  float: left;
}

@media only screen and (max-width: 680px) {

  .popular-image{
    width: 100%;
    height: 100%;
  }
}

.popular-text {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 30px);
  row-gap: 10px;
  float: center;
}



.popular-name{
  font-weight: bold;
  padding-bottom: 5px;
}

@media only screen and (max-width: 680px){
 .popular-name{
   font-weight: bolder;
 }
}

.popular-rating{
  object-fit: contain;
  position: relative;
  top: 33%;
}

/* color for star rating */
.checked {
  color:  #0065FC;
}

.uncheked{
  color: grey
}

.symbol {
  float: right;
}

.activities-section{
  display: grid;
  grid-template-rows: 5% 95%;
  grid-column-gap: 25px;
  height: 50vh;
  margin-bottom: 80px;
}

@media only screen and (max-width: 680px) {
  
  .activities-section{
   display: grid;
   grid-template-rows: 5% 95%;
   grid-template-columns: 1fr;
   height: inherit;
   width: 100%;
   margin-bottom: 15vh;
    
  
  }
}


.activities-title{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 22px;
}

.activities-module{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 25px;
  padding-top: 10px;
  max-width: 100%;
  height: inherit;
  column-gap: 30px;
  
}

@media only screen and (max-width: 680px) {
  
  .activities-module{
    display: flex;
    flex-wrap: wrap;
    
  }
}

.activity-name{
  vertical-align: text-top;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 680px){
  .activity-name{
    margin-bottom: -5vh;
  }
}

.first-column{
  width: 100%;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 25px;
  height: inherit;
  display: grid;
  grid-template-rows: 90% 10%;
}

@media only screen and (max-width: 680px){
  .first-column{
    grid-template-rows: 85% 5%;
    height: 30vh;
  }
}


.second-column{
  display: grid;
  grid-template-rows: 60% 40%;
  row-gap: 20px;
  height: inherit;
}

@media only screen and (max-width: 680px){
  .second-column{
    grid-template-rows: 50% 50%;
  }
}

.medium-long-activity-card{
  display: grid;
  grid-template-rows: 80% 10%;
  row-gap: 5px;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 25px;
  height: 86%;
}


@media only screen and (max-width: 680px){
  .medium-long-activity-card{
    grid-template-rows: 80% 10%;
    height: 30vh;
    
    margin-top: 40px;
  }
}

.short-activity-card{
  display: grid;
  grid-template-rows: 70% 10%;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 25px;
  height: 83%;
 
}

@media only screen and (max-width: 680px){
  .short-activity-card{
    grid-template-rows: 75% 15%;
    height: 30vh;
    /* margin-bottom: 15vh; */
    margin-top: 2vh;
  }
}

.third-column{
  width: 100%;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 25px;
  height: inherit;
  display: grid;
  grid-template-rows: 80% 10%;
}

@media only screen and (max-width: 680px){
  .third-column{
    height: 30vh;
    margin-top: 2vh;
  }
}

.fourth-column{
  display: grid;
  row-gap: 20px;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: inherit;
}

@media only screen and (max-width: 680px){
.fourth-column{
  padding-top: 5vh;
}
}

.medium-activity-card{
  display: grid;
  grid-template-rows: 75% 10%;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 25px;
  height: 88%;
}


@media only screen and (max-width: 689px){
  .medium-activity-card{
    grid-template-rows: 80% 15%;
    height: 30vh;
    
  }
}

.activity-name{
  padding-left: 20px;
  padding-top: 10px;
  
}


.image-fit-grid {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

@media only screen and (max-width: 680px){
  .image-fit-grid{
    height: 40;
  }
}

.long-picture{
    height: 100%;
    width: 100%;

}

@media only screen and (max-width: 680px){
  .long-picture{
    height: 100%;
    max-height: 100%;
  }
}

.medium-long-picture{
  grid-row: 1;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 680px){
  .medium-long-picture{
    height: 100%;
    max-height: 100%;
  }
}

.short-activity-picture{
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.medium-picture{
    width: 100%;
    height: 100%;
}


.footer{
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  background: #f1f1f1;
  padding-left: 80px;
  margin-top: 40px;
  margin-left: -3.5vw;
  margin-right: -3.5vw;
}


@media only screen and (max-width: 680px){
  .footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    margin-bottom: 2vh;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 40px;
  }
}


.footer div{
  width: auto;
  height: 30px;
flex-basis: 33.333333%;
}

@media only screen and (max-width: 680px){
  .footer div{
    row-gap: 10px;
  }
}



.footer-bold {
  font-weight: bold;
}

.footer-regular {
  padding-bottom: -10px;
}




@media only screen and (max-width: 680px) {

  .footer div:nth-child(1) {
    order: 1;
   padding-top: 2vh;
   padding-bottom: 1vh;
  }
  
  .footer div:nth-child(2) {
    order: 5;
    padding-top: 2vh;
   padding-bottom: 1vh;
    
  }
  
  .footer div:nth-child(3) {
    order: 8;
    padding-top: 2vh;
   padding-bottom: 1vh;
    
  }
  
  .footer div:nth-child(4) {
    order: 2;
  }
  
  .footer div:nth-child(5) {
    order: 6;
  }
  
  .footer div:nth-child(6) {
    order: 9;
  }

  .footer div:nth-child(7) {
    order: 3;
  }
  
  .footer div:nth-child(8) {
    order: 7;
  }
  
  .footer div:nth-child(9) {
    order: 10;
  }
  
  .footer div:nth-child(10) {
    order: 4;
  }
  
  .footer-bold{
    font-weight: bold;
  }
  


  }
  
